@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;;
}

p23 .para {
   
}


nav{
    height: 85px;
    background: #66d9ff;
}
nav h1{
    position: absolute;
    width:200px;
    top:8px;
    left:5%;
    color:#fff;
    text-transform: uppercase;
}
nav ul{
    float:right;
    margin-right:25px;
    list-style: none;
}
nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 10px;
}
nav ul li a{
    position:relative;
    padding:5px 0;
    color: #fff;
    font-size:14px;
    text-decoration: none;
}
label #sign-one,
label #sign-two{
    font-size: 30px;
    color: #fff;
    float: right;
    content: '';
    line-height: 50px;
    margin-right: 30px;
    display: none;
}

#res-menu{
    display: none;
}

@media (max-width: 870px){
    label #sign-one{
        display: block;
    }
    nav ul{
        position:fixed; 
        width: 100px;
        height: 350px;
        background:crimson;
        top: 50px;
        left: -50%;
        text-align:center;
        transition: .5s;
        z-index:10;
        padding-right: 30px;
    }
    nav ul li{
        display:block;
        margin:40px 0;
        line-height:30px;
    }
    nav ul li a{
        font-size: 20px;
    }

    #res-menu:checked ~ ul{
        left:0;
    }
}



.button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #fff;
  margin: 8px 8px 8px 8px;
  color: #059142;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;

}

a {
  color: #000;
  text-decoration: none;
  letter-spacing: 1px;
}


#button-5 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-5 a {
  position: relative;
  transition: all .45s ease-Out;
}

#translate {
  transform: rotate(50deg);
  width: 100%;
  height: 250%;
  left: -200px;
  top: -30px;
  background: #059142;
  position: absolute;
  transition: all .3s ease-Out;
}

#button-5:hover #translate {
  left: 0;
}

#button-5:hover a {
  color: #fff;
}



.btn1 {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #002633;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-size: 0.6rem;
  font-weight: 400;  
  padding: 0.3em 0.3em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.btn1:hover, .btn1:focus {
  color: #fff;
  outline: 0;
}

.fourth {
  border-color: #fff;
  color: #fff;
  background-image: -webkit-linear-gradient(60deg, #c0ff00 50%, transparent 50%);
  background-image: linear-gradient(60deg, #c0ff00 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}
.fourth:hover {
  background-position: 0;
  border-color: #c0ff00;
}