@import url('https://fonts.googleapis.com/css?family=Raleway:300i,400,600|Poppins');
body{
    margin: 0;
    font-family: 'Poppins';
    background: #242121;
}

:root{
    --primary: #2892D7;
    --secondary: #FFFCF2;
}


.logo p{
    font-family: 'Raleway';
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 600;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
}

header{
    background: var(--primary);
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    transition: top 0.8s;
}

nav{
    position: absolute;
    text-align: left;
    top:100%;
    background: var(--primary);
    width: 100%;
    left: 0;
    /* display: none; */
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 0.4s ease-in-out;
}

nav a {
    text-transform: uppercase;
    display: block;
    margin-bottom: 1em;
    margin-left: 1em;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    opacity: 0;
    transition: opacity .15s ease-in-out;
}

nav a:hover{
    color: rgba(255,255,255,0.5);
}

.nav-toggle:checked ~ nav{
    display: block;
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a{
    opacity: 1;
    transition: opacity .25s ease-in-out .25s;
}

.nav-toggle{
    display: none;
}

.nav-toggle-label{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    
    display: flex;
    align-items: center;
    margin-left:1em;
}

.nav-toggle-label span,
.nav-toggle-label span::after,
.nav-toggle-label span::before{
    display: block;
    height: 4px;
    width: 2em;
    border-radius: 2px;
    background: black;
}

.nav-toggle-label span::after,
.nav-toggle-label span::before{
    content: "";
    position: absolute;
}

.nav-toggle-label span::before{
    bottom: 32px;
}

.nav-toggle-label span::after{
    top: 32px;
}




.main-timeline{
    font-family: sans-serif;
    position: relative;
}
.main-timeline:before{
    content: "";
    background: #ABABAB;
    width: 10px;
    height: 100%;
    transform: translateX(-50%);
    position: absolute;
    top: 0;
    left: 50%;
}
.main-timeline:after{
    content: '';
    display: block;
    clear: both;
}
.main-timeline .timeline{
    width: 50%;
    margin: 0 10px 30px 0;
    float: left;
}
.main-timeline .timeline-content{
    color: #555;
    margin: 0 50px 0 0;
    border: 5px solid #eb4d4b;
    border-radius: 30px;
    display: block;
    position: relative;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-content:before{
    content: "";
    background: #E84C47;
    width: 27px;
    height: 43px;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: -32px;
}
.main-timeline .timeline-icon{
    color: #E84C47;
    background-color: #fff;
    font-size: 25px;
    text-align: center;
    line-height: 50px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 5px solid #E84C47;
    display: block;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: -83px;
}
.main-timeline .timeline-icon:before,
.main-timeline .timeline-icon:after{
    content: "";
    background: #fff;
    width: 28px;
    height: 30px;
    border-radius: 0 0 15px 11px;
    position: absolute;
    top: -18px;
    left: -23.5px;
    z-index: -1;
}
.main-timeline .timeline-icon:after{
    border-radius: 11px 15px 0 0;
    top: auto;
    bottom: -18px;
}
.main-timeline .inner-content{ padding: 0 20px 20px; }
.main-timeline .title{
    color: #fff;
    background: #eb4d4b;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 14px;
    margin: 0 0 -10px;
    border-radius: 10px;
    display: inline-block;
    transform: translateY(-23px);
}
.main-timeline .description{
    font-size: 15px;
    margin: 0;
}
.main-timeline .timeline:nth-child(even){
    float: right;
    margin: 0 0 30px 10px;
}
.main-timeline .timeline:nth-child(even) .timeline-content{
    text-align: right;
    margin: 0 0 0 50px;
}
.main-timeline .timeline:nth-child(even) .timeline-content:before{
    left: -32px;
    right: auto;
}
.main-timeline .timeline:nth-child(even) .timeline-icon{
    left: -83px;
    right: auto;
}
.main-timeline .timeline:nth-child(even) .timeline-icon:before,
.main-timeline .timeline:nth-child(even) .timeline-icon:after{
    left: 46.3px;
}
.main-timeline .timeline:nth-child(4n+2) .timeline-content{ border-color: #9B70DC; }
.main-timeline .timeline:nth-child(4n+2) .timeline-content:before,
.main-timeline .timeline:nth-child(4n+2) .title{
    background-color: #9B70DC;
}
.main-timeline .timeline:nth-child(4n+2) .timeline-icon{
    color: #9B70DC;
    border-color: #9B70DC;
}
.main-timeline .timeline:nth-child(4n+3) .timeline-content{ border-color: #D568BE; }
.main-timeline .timeline:nth-child(4n+3) .timeline-content:before,
.main-timeline .timeline:nth-child(4n+3) .title{
    background-color: #D568BE;
}
.main-timeline .timeline:nth-child(4n+3) .timeline-icon{
    color: #D568BE;
    border-color: #D568BE;
}
.main-timeline .timeline:nth-child(4n+4) .timeline-content{ border-color: #33b771; }
.main-timeline .timeline:nth-child(4n+4) .timeline-content:before,
.main-timeline .timeline:nth-child(4n+4) .title{
    background-color: #33b771;
}
.main-timeline .timeline:nth-child(4n+4) .timeline-icon{
    color: #33b771;
    border-color: #33b771;
}
@media screen and (max-width:990px){
    .main-timeline .inner-content{ padding: 0 15px 20px; }
}
@media screen and (max-width:767px){
    .main-timeline:before{
        transform: translateX(0);
        left: 25px;
    }
    .main-timeline .timeline{
        width: 100%;
        margin: 0 0 40px;
    }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(even) .timeline-content{
        text-align: left;
        margin: 0 0 0 60px;
        border-radius: 5px;
    }
    .main-timeline .timeline-content:before{ display: none; }
    .main-timeline .timeline-icon,
    .main-timeline .timeline:nth-child(even) .timeline-icon{
        right: auto;
        left: -60px;
    }
    .main-timeline .timeline-icon:before,
    .main-timeline .timeline-icon:after{
        display: none;
    }
    .main-timeline .title{
        font-size: 20px;
        border-radius: 5px;
    }
}
@media screen and (min-width:800px){
    .nav-toggle-label{
        display: none;
    }
    
    header{
        display: grid;
        grid-template-columns: auto 5fr 1fr; 
    }

    header div{
        display:inline-block;
    }

    .logo{
        display:inline-block;
        margin-left: 15px;
        text-decoration: none;
        grid-column: 1/2;
    }

    .logo p a{
        text-decoration: none;
        color:black;
    }

    nav{
        all:unset;

        display: flex;
        align-items: center;
        grid-column: 2/3;
    }

    nav a{
        display: inline-block;
        opacity: 1;
        margin-bottom: 0;
        margin-left: 3em;
        position: relative;
        font-size:20px;
    }

    nav a::before{
        position: absolute;
        top: -.5em;
        left: 0;
        right: 0;


        content:'';
        display: block;
        height: 5px;
        background: #000;
        transform: scale(0,1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before{
        transform: scale(1,1);
    }